<%- include("partials/header.ejs") %>

  <form name="wishlistForm" method="post" action="/processWishlist">
    <label for="wishlist">Please enter your MTG Wishlist below:</label> <br/>
    <textarea name="wishlistText" cols="50" rows="20"><% if (locals.wishList) { %><% console.log(wishList); %><% wishList.forEach(cardname => { %><%= cardname %>&#13;&#10;<% }) %><% } %></textarea> <br/>
    <input type="submit" value="Submit">
  </form>

<%- include("partials/footer.ejs") %>
