<%- include("partials/header.ejs", {active: "home"}) %>

  <div class="mb-3">
    <h1>MTG Wishlist:</h1>
    <form name="wishlistForm" method="post" action="/processWishlist">
      <textarea class="form-control" name="wishlistText" cols="50" rows="20"><% if (locals.wishList) { %><% console.log(wishList); %><% wishList.forEach(cardname => { %><%= cardname %>&#13;&#10;<% }) %><% } %></textarea> <br/>
      <input type="submit" value="Submit">
    </form>
  </div>

<%- include("partials/footer.ejs") %>
