
<%- include("partials/header.ejs") %>

  <% if (locals.wishList) { %>
    <ul>
    <% wishList.forEach(card => { %>
      <li><%= card %></li>
    <% }) %>
    </ul>
  <% } %>

<%- include("partials/footer.ejs") %>